<div class="filters">
    <input #searchNameInput type="text" placeholder="Search">

    <mat-checkbox [checked]="true" (change)="updateIsFinalFilter($event.checked)">
        Fully Upgraded
    </mat-checkbox>
</div>

<div class="table-wrapper">

    <table mat-table [dataSource]="displayWeapons" class="mat-elevation-z8">
        <mat-text-column name="id"></mat-text-column>

        <mat-text-column name="name"></mat-text-column>

        <mat-text-column name="type"></mat-text-column>

        <mat-text-column name="attack"></mat-text-column>

        <mat-text-column name="affinity"></mat-text-column>

        <tr class="header-row" mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;" (click)="handleRowClick(row)"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="tableColumns.length">
                <div class="spinner-wrapper">
                    <mat-spinner *ngIf="loading" diameter="40" color="Gray"></mat-spinner>
                    <p *ngIf="!loading"> No data for this filters </p>
                </div>
            </td>
        </tr>
    </table>
</div>
