.wrapper {
    padding: 2rem 8rem;

    display: flex;
    gap: 20px;

    h4 {
        margin: 8px;
    }

    form {
        min-width: 350px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        button[type="submit"] {
            margin-top: 16px;
        }


        .form-section {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .input-search {
                display: flex;
                gap: 8px;

                input {
                    flex: 1;
                }

                button {
                    width: 34px;
                    height: 34px;
                    margin: 0;
                }
            }

            .open-button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
            }
        }
    }
}
