<div class="wrapper">
    <mhgu-card>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div formGroupName="weapon" class="form-section">
                <h4>Weapon</h4>

                <div class="input-search">
                    <input formControlName="weaponType" placeholder="Weapon Type" readonly>
                    <button class="open-button" (click)="openSelectWeaponType()" type="button">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </div>

                <div class="input-search">
                    <input formControlName="weaponName" placeholder="Weapon Name" readonly>
                    <button class="open-button" (click)="openWeaponSearch()" type="button">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </div>
            </div>

            <div formGroupName="buffs" class="form-section">
                <h4>Buffs</h4>
            </div>

            <button type="submit"> Calculate! </button>
        </form>

    </mhgu-card>


    <p>table</p>
</div>
