<div class="wrapper">
    <mhgu-card>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-section">
                <h4>Weapon</h4>

                <div class="input-search">
                    <mhgu-input formControlName="type" label="Type" [readonly]="true"></mhgu-input>

                    <button class="open-button" (click)="openSelectWeaponType()" type="button">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </div>

                <div class="input-search" *ngIf="form.value.type">
                    <mhgu-input label="Name" formControlName="name" [readonly]="true"></mhgu-input>
                    <button class="open-button" (click)="openWeaponSearch()" type="button">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </div>

                <div class="weapon-stats" *ngIf="form.value.type">
                    <mhgu-input formControlName="attack" label="Attack" [readonly]="true"></mhgu-input>
                    <mhgu-input formControlName="affinity" label="Affinity" [readonly]="true"></mhgu-input>
                </div>
            </div>

            <div class="form-section" *ngIf="form.value.name">
                <h4>Buffs</h4>

                <button (click)="openSkillsDialog()">
                    Choose Skills
                </button>

                <ul class="buffs-list" *ngIf="form.value.skills?.length">
                    <h5> Skills: </h5>

                    <li *ngFor="let skill of form.value.skills">
                        {{ skillLabels[skill] }}
                    </li>
                </ul>

                <label>Food Buffs:</label>
                <mat-radio-group class="vertical-radio" formControlName="foodBuff">
                    @for (buff of foodBuffs; track buff) {
                        <mat-radio-button [value]="buff.value">{{buff.label}}</mat-radio-button>
                    }
                </mat-radio-group>

                <label>Other Buffs:</label>
                <mat-checkbox formControlName="powerTalon"> Power Talon </mat-checkbox>
                <mat-checkbox formControlName="powerCharm"> Power Charm </mat-checkbox>
                <mat-checkbox formControlName="demonDrug"> Demon Drug </mat-checkbox>
            </div>

            <button type="submit" [disabled]="form.invalid"> Calculate! </button>
        </form>

    </mhgu-card>


    <p>table</p>
</div>
