/* You can add global styles to this file, and also import other style files */
html {
  background-color: #1b1a1a;
  color: #e6edf3;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

  h1 {
    font-weight: normal;
  }
}
